<mat-toolbar class="navbar">
  <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><strong
      style="color: red;">TUN</strong>
    recrut
  </div>
  <div>
    <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" [routerLink]="['/offres']"
      routerLinkActive="router-link-active">Offers</span>
    <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
      [routerLink]="['/compteRecruteur']" routerLinkActive="router-link-active">Compte</span>
    <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Job by Field</span>
    <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Contact</span>
    <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">About</span>

    <span><button mat-raised-button color="success" routerLink="/login">Login</button></span>
    <span><button mat-raised-button color="success" routerLink="/register">register</button></span>

  </div>
</mat-toolbar>











<router-outlet></router-outlet>
